/* Base Styles */

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
}

nav ul {
  visibility: collapse;
  justify-content: flex-end;
}

.nav-icon:hover ~ ul,
.nav-icon:focus ~ ul {
  color: red;
  transition: color 5s linear;
  visibility: visible;
}

.flex {
  display: flex;
}

/* Home Page */

#page1 {
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('resources/images/bakery-interior.png') center/cover;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* Menu Page */

.menu-item {
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
}

#page2 {
  align-items: center;
  flex-flow: column nowrap;
  padding: 0 16%;
}

#page2 img {
  height: auto;
  width: 200px;
}

/* About Us Page */

#page3 {
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('resources/images/bakery-exterior.jpg') top left/cover;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/* Contact Page */

#page4 {
  text-align: center;
  padding-bottom: 25px;
}
