/* Base Styles */
html {
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Fixed navigation */
nav {
  align-items: flex-end;
  flex-flow: column nowrap;
  height: 50px;
  padding: 15px;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Hidden navigation menu */
nav ul {
  align-items: center;
  background-color: black;
  display: inline-block;
  flex-flow: column nowrap;
  margin: 0;
  opacity: 0;
  padding: 0;
  visibility: hidden;
}

nav ul li {
  padding: 5px;
}

/* Display hidden navigation menu on hover */

nav ul:hover,
.nav-icon:hover ~ ul,
.nav-icon:focus ~ ul {
  height: auto;
  opacity: 1;
  transition: all 2s linear;
  visibility: visible;
}

.flex {
  display: flex;
}

/* Home Page */

#page1 {
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('resources/images/bakery-interior.png') center/cover;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#page1 img {
  margin-top: 75px;
}

/* Menu Page */

.menu-item {
  align-items: center;
  flex-flow: column nowrap;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.menu-item span,
.menu-item p {
  background-color: black;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  transition: all 1s;
  visibility: collapse;
}

.menu-item span {
  bottom: 67%;
  top: 0;
}

.menu-item p {
  bottom: 0;
  top: 33%;
}

.menu-item:hover :not(img),
.menu-item:focus :not(img) {
  opacity: 0.6;
  visibility: visible;
}

#page2 {
  align-items: center;
  flex-flow: column nowrap;
  padding: 0 16%;
}

#page2 img {
  height: 137px;
  width: 215px;
}

/* About Us Page */

#page3 {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('resources/images/bakery-exterior.jpg') top left/cover;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#page3 h3,
#page3 p {
  margin: 1rem;
}

/* Contact Page */

#page4 {
  flex-flow: column;
  padding-bottom: 25px;
  text-align: center;
}

#page4 img {
  display: none;
}

/* Media Queries */

@media only screen and (min-width: 720px) {
  /* Menu Section */
  #page2 {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #page2 h2,
  #page4 h2 {
    text-align: center;
    width: 100%;
  }

  /* Contact Section */
  #page4 {
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #page4 address {
    text-align: left;
  }

  #page4 img {
    display: block;
    height: auto;
    width: 300px;
  }
}

@media only screen and (min-width: 900px) {
  /* Menu Section */
  .menu-item,
  .menu-item span,
  .menu-item p {
    opacity: initial;
    pointer-events: none;
    position: initial;
    visibility: initial;
  }

  .menu-item {
    margin: 15px;
    width: 215px;
  }

  #page2 {
    justify-content: center;
    margin: 5% 10%;
    padding: 0;
  }

  /* Contact Section */
  #page4 img {
    width: 400px;
  }
}
