/* Base Styles */
html {
  font-size: 16px;
}

body {
  background-color: #3F4A60;
  color: #D5E2EB;
}

h1 {
  animation: displayTitle 2s linear 1;
  font-size: 3rem;
}

@keyframes displayTitle {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h2 {
  font-size: 2.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
#about-page {
  color: white;
}

/* Fixed navigation */
nav {
  align-items: flex-end;
  animation: navDisplay 10s linear 1;
  flex-flow: column nowrap;
  padding: 15px;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 100;
}

@keyframes navDisplay {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

/* Hidden navigation menu */
nav ul {
  align-items: center;
  background-color: #D5E2EB;
  border-radius: 8px;
  display: inline-block;
  flex-flow: column nowrap;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  visibility: hidden;
}

nav ul li {
  padding: 5px;
}

nav ul a {
  color: #3F4A60;
}

/* Display hidden navigation menu on hover */

nav ul:hover,
.nav-icon:hover ~ ul,
.nav-icon:focus ~ ul {
  height: auto;
  opacity: 1;
  transition: all 2s linear;
  visibility: visible;
}

nav ul li:hover {
  background-color: #4b799b;
}

nav ul li:hover a {
  color: white;
}

.flex {
  display: flex;
}

/* Home Page */

.bg-slideshow::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bg-slideshow li {
  animation: backgroundAnimation 10s linear infinite;
  background: url('resources/images/bakery-interior.png') center/cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bg-slideshow li:nth-child(2) {
  animation-delay: 5s;
  background-image: url('resources/images/bakery-people.jpg');
}

@keyframes backgroundAnimation {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 1; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}

#landing-page {
  align-items: center;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#down-arrow {
  animation: scrollArrow 3s linear 10;
  animation-delay: 3s;
  opacity: 0;
  position: relative;
  top: 25%;
}

@keyframes scrollArrow {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% {
    opacity: 0.5;
    top: 30%;
  }
  100% {
    opacity: 0;
    top: 30%;
  }
}

/* Menu Page */

.menu-item {
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(91, 107, 139, 0.6);
  flex-flow: column nowrap;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.menu-item span,
.menu-item p {
  background-color: black;
  color: white;
  left: 0;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  transition: all 1s;
}

.menu-item span {
  border-radius: 14px 14px 0 0;
  bottom: 67%;
  opacity: 0.7;
  top: 0;
}

.menu-item p {
  border-radius: 0 0 14px 14px;
  bottom: 0;
  opacity: 0;
  top: 33%;
  visibility: collapse;
}

.menu-item:hover :not(img),
.menu-item:focus :not(img) {
  opacity: 0.7;
  visibility: visible;
}

#menu-page {
  align-items: center;
  flex-flow: column nowrap;
  padding: 0 16%;
}

#menu-page img {
  border-radius: 14px;
  height: 137px;
  width: 215px;
}

/* Photos Section */
.carousel-wrapper {
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(91, 107, 139, 0.7);
  height: 215px;
  list-style: none;
  margin: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 249px;
}

.carousel-image {
  animation: imageCarousel 18s linear infinite;
  display: inline-block;
  /*left: 0;
  position: absolute;
  top: 0;*/
}

@keyframes imageCarousel {
  0%, 7%, 100% {transform:translateX(0);}
  11%, 18% {transform:translateX(-100%);}
  22%, 29% {transform:translateX(-200%);}
  33%, 40% {transform:translateX(-300%);}
  44%, 51% {transform:translateX(-400%);}
  55%, 62% {transform:translateX(-500%);}
  66%, 73% {transform:translateX(-600%);}
  77%, 84% {transform:translateX(-700%);}
  88%, 95% {transform:translateX(-800%);}
  97% {transform:translateX(-900%);}
}

#photos-page {
  padding: 5% 10%;
  text-align: center;
}

#photos-page img {
  border-radius: 14px;
  height: 215px;
  width: 250px;
}

/* About Us Page */

#about-page {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('resources/images/bakery-exterior.jpg') top left/cover;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#about-page h3,
#about-page p {
  margin: 5%;
}

/* Contact Page */

#contact-page {
  flex-flow: column;
  padding-bottom: 25px;
  text-align: center;
}

#contact-page iframe {
  display: none;
}

/* Footer */
footer {
  text-align: center;
}

footer a:nth-child(2) {
  margin-right: 15px;
}

#copyright {
  display: block;
  margin-top: 15px;
}

/* Media Queries */

@media only screen and (min-width: 720px) {
  /* Menu Section */
  #menu-page {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #menu-page h2,
  #contact-page h2 {
    text-align: center;
    width: 100%;
  }

  /* Contact Section */
  #contact-page {
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #contact-page address {
    text-align: left;
  }

  #contact-page iframe {
    display: block;
    height: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 900px) {
  /* Menu Page */
  .menu-item,
  .menu-item span,
  .menu-item p {
    background-color: inherit;
    opacity: initial;
    pointer-events: none;
    position: initial;
    visibility: initial;
  }

  .menu-item {
    margin: 15px;
    width: 215px;
  }

  .menu-item span {
    border-bottom: 1px solid;
  }

  #menu-page {
    justify-content: center;
    margin: 5% 10%;
    padding: 0;
  }

  #menu-page img {
    border-radius: 14px 14px 0 0;
  }

  /* About Us Page */
  #about-page h3,
  #about-page p {
    margin: 1% 10%;
  }

  /* Contact Page */
  #contact-page iframe {
    height: 400px;
    width: 400px;
  }
}
